
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# Testing
/coverage

# Next.js
/.next/
/out/

# Turbopack
.turbo

# Production
/build

# Misc
.DS_Store
*.pem

# Environment Variables
.env
.env*.local
.env.development.local
.env.test.local
.env.production.local

# Local .env file for Firebase settings
.env.local

# Firebase emulators
firebase-debug.log
firestore-debug.log
ui-debug.log
pubsub-debug.log
database-debug.log
storage-debug.log
auth-debug.log
eventarc-debug.log
extensions-debug.log
hosting-debug.log
logging-debug.log
remoteconfig-debug.log

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Genkit (if applicable)
genkit.state
